*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, li, a{
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: "Antonio", sans-serif;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
}

/* ========== Common Css Start ============ */
.btn button{
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: 1px solid #469165;
    border-radius: 4px;
    background-color: #469165;
    padding: 12.5px 16px;
    cursor: pointer;
}
.btn button:hover{
    background-color: transparent;
    color: #469165;
    border: 1px solid #469165;
    transition: all linear 0.3s;
}

.section-heading h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}
.section-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;
    margin-top: 16px;
}
/* ========== Common Css End ============ */

/* ========== Nav bar Start ============ */
.nav-wrapper{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.nav-wrapper .menu-item ul{
    display: flex;
    gap: 32px;
}
.menu-item ul li a{
    font-size: 16px;
    line-height: 152%;
    font-weight: 500;
    color: #000000;
}
/* ========== Nav bar End ============ */
/* ========== Banner Section Start ============ */
#banner{
    background: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-content{
    text-align: center;
    padding: 116px 0 180px 0;
}
.banner-content .banner-top-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-content .banner-top-text .banner-t-text-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color: white;
    width: fit-content;
    border-radius: 50px;
    padding: 8px 8px;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    color: white;
    margin: 16px 0;
}
.banner-content h1 .green{
    color: #30B868;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
}
.banner-content .banner-info{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    margin-bottom: 32px;
}
.banner-content .btn button{
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: 1px solid #469165;
    border-radius: 4px;
    background-color: #469165;
    padding: 12.5px 16px;
    cursor: pointer;
}
.btn button:hover{
    background-color: transparent;
    color: #469165;
    border: 1px solid #469165;
    transition: all linear 0.3s;
}
.banner-content .bnner-btn{
    gap: 20px;
    display: flex;
    justify-content: center;
}
.banner-content .bnner-btn .b-btn-left{
    background-color: transparent;
    border: 1px solid white;
}
/* ========== Banner Section End ============ */
/* ========== Notes Section Start ============ */
#Notes-Section{
    background-color: #F7F6F2;
    padding-top: 50px;
}
.note-box{
    margin-top: 44px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    
}
.note-box .note-cards{
    background-color: white;
    box-shadow: -1 0  8px rgba(0, 0, 0, 0.171);
    border-radius: 8px 8px 0 0;
    text-align: center;
    padding: 69px 24px 21px ;
}
.note-cards .box-icon{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #F95555;
}
.note-box .note-cards h2{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 16px 0;
}
.note-box .note-cards p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
/* ========== Notes Section End ============ */
/* ========== Second Brain Section Start ============ */
#brain-section{
    padding: 120px 0;
}
.brain-section-wrapper{
    display: flex;
    align-items: center;
    gap: 60px;
}
.brain-section-wrapper .brain-info .brain-sec-heading .solution{
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    text-align: left;
    text-transform: uppercase;
}
.brain-section-wrapper .brain-info .brain-sec-heading h1{
    text-align: left;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-top: 16px;
}
.brain-section-wrapper .brain-info .brain-sec-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 40px;
}
.brain-info .section-info-list p{
    color: #001931;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.brain-info .section-info-list p i{
    color: #30B868;
}
/* ========== Second Brain Section End ============ */
