*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, li, a{
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: "Antonio", sans-serif;
}
.container{
    max-width: 1360px;
}

/* ========== Common Css Start ============ */
.btn button{
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: 1px solid #469165;
    border-radius: 4px;
    background-color: #469165;
    padding: 12.5px 16px;
    cursor: pointer;
}
.btn button:hover{
    background-color: transparent;
    color: #469165;
    border: 1px solid #469165;
    transition: all linear 0.3s;
}
/* ========== Common Css End ============ */

/* ========== Nav bar Start ============ */
.nav-wrapper{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.nav-wrapper .menu-item ul{
    display: flex;
    gap: 32px;
}
.menu-item ul li a{
    font-size: 16px;
    line-height: 152%;
    font-weight: 500;
    color: #000000;
}
/* ========== Nav bar End ============ */